<article class="rental">
    <Rental::Image 
    src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
    alt="A picture of Grand old Mansion"/>
    <div class="details">
        <h3>Grand Old Mansion</h3>
        <div class="detail owner">
            <span>OwnerK</span> Veruca Salt
        </div>
        <div class="detail type">
            <span>Type:</span> Standalone
        </div>
        <div class="detail location">
            <span>Location:</span> San Francisco
        </div>
        <div class="detail bedrooms">
            <span>Number of bedrooms:</span> 15
        </div>
    </div>
    <Map
      @lat="37.7797"
      @lng="-122.4184"
      @zoom="10"
      @width="150"
      @height="120"
      src="/assets/images/teaching-tomster.png"
      width="200"
      height="300"
    />
</article>