<Jumbo>
    <h2>Welcome to Ember Rentals</h2>
    <p>We hope you find exactly what you are looking for</p>

  <LinkTo @route="about" class="button" id="about">About</LinkTo>
  <LinkTo @route="contact" class="button" id="contact">Contact</LinkTo>
</Jumbo>

<div class="rental">
  <ul class="results">
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}} /></li>
    {{/each}}
  </ul>
</div>
